/* configuração da borda*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbdbdbd3
}

:root {
  font-size: 62.5%;
}
/* configuração do chat container */
.chat-container {
  width: 70rem;
  margin: 6.0rem auto;
  border: 0.3rem solid #ccc;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 3rem;
  align-items: center;
  font-size: 1.1rem;
}

/* configuração do chat */
.chat-box {
  height: 50rem;
  overflow-y: scroll;
  border: 0.5rem solid #ccc;
  padding: 2rem;
  margin-bottom: 1.0rem;
}

#user-input {
  width: calc(90% - 50px);
  padding: 8px;
  margin-right: 10px;
}

/* configuração do botão Enviar*/
button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

header {
  height: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  color: #313030;
}

p {
  height: 2.0rem;
  text-align: center;
  padding: 15;
  font-size: 2rem;
}

footer {
  height: 4.0rem;
  text-align: center;
  font-size: 1rem;
}

@media(max-width: 450rem) {
}
